<!-- <div class="content-section implementation">
  <p-toast></p-toast>
  <div class="card">
      <h5>Circle, Semi-Circle and Quarter-Circle</h5>
      <div style="height: 500px; position: relative;" class="speeddial-circle-demo">
          <p-speedDial [model]="items" [radius]="80" type="circle" buttonClassName="p-button-warning"></p-speedDial>
          <p-speedDial [model]="items" [radius]="80" direction="up" type="semi-circle"></p-speedDial>
          <p-speedDial [model]="items" [radius]="80" direction="down" type="semi-circle"></p-speedDial>
          <p-speedDial [model]="items" [radius]="80" direction="left" type="semi-circle"></p-speedDial>
          <p-speedDial [model]="items" [radius]="80" direction="right" type="semi-circle"></p-speedDial>
          <p-speedDial [model]="items" [radius]="120" direction="up-left" type="quarter-circle" buttonClassName="p-button-success"></p-speedDial>
          <p-speedDial [model]="items" [radius]="120" direction="up-right" type="quarter-circle" buttonClassName="p-button-success"></p-speedDial>
          <p-speedDial [model]="items" [radius]="120" direction="down-left" type="quarter-circle" buttonClassName="p-button-success"></p-speedDial>
          <p-speedDial [model]="items" [radius]="120" direction="down-right" type="quarter-circle" buttonClassName="p-button-success"></p-speedDial>
      </div>
  </div>  
</div> -->

<p-speedDial [model]="items" showIcon="pi pi-phone" hideIcon="pi pi-times" [radius]="120" direction="up-left" type="quarter-circle" buttonClassName="p-button-success"></p-speedDial>