.fs-10 {
  font-size: 10;
}

.fs-12 {
  font-size: 12;
}

.fs-14 {
  font-size: 14;
}

.fs-16 {
  font-size: 16;
}

.fs-18 {
  font-size: 18;
}

.fs-20 {
  font-size: 20;
}

.fs-24 {
  font-size: 24;
}

.fs-30 {
  font-size: 30;
}

.fs-32 {
  font-size: 32;
}

.fs-36 {
  font-size: 36;
}

.fs-40 {
  font-size: 40;
}

.fs-42 {
  font-size: 42;
}
